/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Layers */

@layer base{
    *{
        @apply
            m-0
            p-0
            flex-grow-0
            flex-shrink-0
            outline-none
            border-none
            text-color-4;
    }

    :root{
        --width-main: 64rem;
        --width-vp: 100vw;

        --height-header: calc(6rem - 1px);
        --height-torso: calc(100vh - var(--height-header));
        --height-vp: 100vh;

        --color-1: #020617;
        --color-2: #0f172a;
        --color-3: #1e293b;
        --color-4: #fff;
        --color-accent: #4338ca;
        --color-danger: #dc2626;
        --color-warn: #facc15;
        --color-safe: #16a34a;
        --color-glass: rgba(255, 255, 255, .03);

        --line-height-fit: normal;

        --border-radius-default: 4px;
    }

    ::backdrop{
        @apply
            flex
            justify-center
            items-center;

        backdrop-filter: blur(5px);
    }
}

@layer utilities{
    .box{
        @apply
            border
            border-color-2
            border-solid
            rounded-default;
    }

    .box-p{
        @apply p-4;
    }

    .responsive{
        @apply
            w-main
            mx-auto
            px-4
            max-w-full;
    }

    .bg-blur{
        backdrop-filter:
            blur(5px)
            brightness(80%);
    }

    .skeleton{
        @apply rounded-default;
        
        animation: skeleton 1s ease-in-out 0s infinite;
    }

    @keyframes skeleton{
        0%{
            background: var(--color-glass);
        }
        50%{
            background: var(--color-3);
        }
        100%{
            background: var(--color-glass);
        }
    }

    .spin{
        animation: spin 1s linear 0s infinite;
    }

    @keyframes spin{
        0%{
            rotate: 0deg;
        }
        100%{
            rotate: 360deg;
        }
    }
}