.label{
    @apply
        ml-2
        text-xl
        opacity-0
        transition-all;
}

div:has(input:focus, input:not(:placeholder-shown))
.label{
    @apply opacity-100;
}

.input{
    @apply
        p-2
        border
        border-solid
        border-glass
        rounded-default
        text-xl
        outline
        outline-4
        outline-transparent
        -outline-offset-1
        focus:outline-accent
        bg-transparent
        transition-all;
}

.input:invalid{
    @apply outline-danger;
}

.input::placeholder{
    color: rgba(255, 255, 255, .5);
}